VITE_SUPABASE_URL=https://wpcoodpgktpmejzqohwq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwY29vZHBna3RwbWVqenFvaHdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQxNDA3MjUsImV4cCI6MjA3OTcxNjcyNX0.tFWS7GJblm7LAYeHxyQHWxE4CvGs5vQU9-vVvIbBah4